#geneatree {
	position: relative;
	display: grid;
	height: 100vh;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr auto;
	background-color: rgba(0, 0, 0, 0.32);
	font-family: "Open Sans";
}

#trees-toggle {
	padding: var(--SIZE_XXS) var(--SIZE_SMALL);
	color: rgb(255, 255, 255);
	border: 0px none;
	margin: 5px;
	font-size: 1.05em;
	border-radius: 4px;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
}
