.theme-white #router.viewer::after {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	content: '';
	opacity: 0.1;
	background-image: url('/resource/tree.svg');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
}

.theme-white #router.viewer {
	box-shadow: #ecececbf 3px 13px 35px inset !important;
}

.theme-white #trees-toggle {
	background-color: rgb(162, 162, 162);
}

.theme-white #trees-toggle:hover {
	background-color: rgb(136, 129, 129);
}
