#navigation {
	position: fixed;
	display: grid;
	padding: var(--SIZE_XXS);
	right: 0;
	bottom: 0;
	z-index: 1;
	grid-gap: var(--SIZE_XXS);
	grid-auto-flow: column;
	margin: auto;
	left: 0;
	place-content: center;
}

#navigation button {
	padding: var(--SIZE_XXS) var(--SIZE_XS);
	background-color: transparent;
	color: #000000a3;
	border-bottom: 2px solid #392727;
}

#navigation button:hover {
	text-decoration: underline;
	background-color: #ffffff24;
}

#navigation button.active {
	background-color: #0404041f;
}
