#osd {
	position: absolute;
	right: var(--SIZE_XS);
	top: var(--SIZE_XS);
	z-index: 1;
	display: grid;
	grid-gap: var(--SIZE_XS);
}

#osd .message {
	font-size: 1.1em;
	color: white;
	padding: var(--SIZE_XS);
	background-color: rgba(15, 15, 15, 0.77);
}

#osd .message.error {
	background-color: rgba(204, 77, 77, 0.77);
}
