#trees {
	display: grid;
	overflow: hidden;
	color: white;
	position: relative;
	width: 150px;
	background-color: rgb(138, 117, 117);
	border-width: 1px 1px 0;
	border-style: solid;
	border-color: rgb(62, 60, 60) rgb(62, 60, 60);
	border-image: initial;
	grid-template-rows: auto auto 1fr;
}

#trees .logo {
	text-align: center;
	padding-top: var(--SIZE_XXS);
	padding-bottom: 10px;
	background-color: #8a75759e;
}

#trees .tree {
	display: grid;
	grid-template-columns: 25px minmax(0, 1fr) auto;
	color: rgb(242, 242, 242);
	border-bottom: 2px solid rgba(0, 0, 0, 0.22);
	box-shadow: rgba(255, 255, 255, 0.24) 0px 1px;
	padding: var(--SIZE_XXS);
	align-items: center;
}

#trees .tree.active {
	border-right: 2px solid #ffe3e3;
	background-color: #829982;
}

#trees .tree:not(.active) {
	color: #c6c4c4 !important;
}

#trees .tree:hover {
	color: white !important;
}

#trees .edit-icon {
	opacity: 0.5;
	background-color: transparent;
	border: 0;
	padding: 0;
	font-size: 0.85em;
}

#trees .tree.active .edit-icon:hover {
	opacity: 0.8;
}

#trees .tree:not(.active) .edit-icon {
	display: none;
}

#trees .filter {
	border: 0;
	width: 100%;
	padding: var(--SIZE_XXS);
	background-color: #6f5b5b;
	border-bottom: 1px solid #3c3c3c;
	border-top: 2px solid rgba(0, 0, 0, 0.22);
	box-shadow: 0px -1px #ffffff3d;
	color: #ffffffc2;
}


#trees .filter::placeholder {
	color: #dddddd;
}

#trees .add-tree {
	font-size: 1.4rem;
	background-color: rgb(106, 90, 90);
	color: rgb(214, 214, 214);
	border: 0;
	border-left: 1px solid #3c3c3c;
}
#trees .add-tree:hover {
	background-color: #6e8471 !important;
}
